* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.fullBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0; /* 마진 제거 */
}

.main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 55px;
}

.content1, .content2, .content3 {
    height: 100%;
}

.content1 {
    background-color: #252323;
    width: 20%;
}

.content2 {
    background-color: #2c2828;
    width: 60%;
}

.content3 {
    background-color: #252323;
    width: 20%;
}

.text {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
}

.attendance-table {
    margin: 0 auto;
    color: aliceblue;
    text-align: center;
    margin-top: -60px;
}

th {
    padding: 60px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.text-rank {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 50px;
}

.containerbox {
    margin: 50px 10px;
    height: 100px;
    background-color: #363535;
    border-radius: 15px;
}

.pageNav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.table-container {
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.load-more-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5351ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 80px;
}

.load-more-btn:hover {
    background-color: #3b38df;
    transform: scale(1.05);
}

.footer {
    position: relative;
    width: 100%;
}
