*{
    margin: 0;
    padding: 0;
}


.main {
    display: flex;
   
}

.content1 {
    background-color: #252323;
    height: 1201px;
    width: 390px;
}

.content2 {
    background-color: #000000;
    height: 1201px;
    width: 1140px;
}

.content3 {
    background-color: #252323;
    width: 390px;
    height: 1201px;
}


.text {
    display: flex;
    justify-content: center;
    color: aliceblue;
}


.attendance-table{
    margin: 0 auto;
    color: aliceblue;
}
