<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출석 랭킹</title>

    <!-- 공통 링크 추가 -->
    <th:block th:replace="~{fragment/link::link}"></th:block>
    <link rel="stylesheet" href="/css/attendance/ranking.css">

</head>

<body>

    <!-- 공통 헤더 추가 -->
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <button><a href="/" style="text-decoration: none; color: rgb(10, 8, 8);">홈으로</a></button>
    <div class="main">
        <div class="content1">
            <div class="text-rank">나의 순위 : </div>
        </div>
        <div class="content2">

            <div class="text">
                <h1>출석 랭킹</h1>
            </div>

            <br><br>
            <table class="attendance-table">
                <thead>
                    <tr>
                        <th>회원ID</th>
                        <th>출석횟수</th>
                        <th>랭킹</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rank : ${rankingList}">
                        <td th:text="${rank.userId}"></td> <!-- 회원 ID -->
                        <td th:text="${rank.attendanceCount}"></td> <!-- 출석 횟수 -->
                        <td th:text="${rank.rank}"></td> <!-- 랭킹 -->
                    </tr>
                </tbody>


            </table>



       <!-- 페이지네이션 -->
<div class="pageNav">
    <!-- [처음] -->
    <a th:href="@{${pageUrl} + '&page=' + ${page.first}}" style="color: aliceblue;">[처음]</a>
    <!-- [이전] -->
    <th:block th:if="${page.page != page.first}">
        <a th:href="@{${pageUrl} + '&page=' + ${page.prev}}" style="color: aliceblue;">[이전]</a>
    </th:block>
    <!-- [페이지 번호] -->
    <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
        <th:block th:if="${page.page == no}">
            <b><span th:text="${no}" style="color: aliceblue;"></span></b>
        </th:block>
        <th:block th:if="${page.page != no}">
            <a th:href="@{${pageUrl} + '&page=' + ${no}}" th:text="${no}" style="color: aliceblue;"></a>
        </th:block>
    </th:block>
    <!-- [다음] -->
    <th:block th:if="${page.page != page.last}">
        <a th:href="@{${pageUrl} + '&page=' + ${page.next}}" style="color: aliceblue;">[다음]</a>
    </th:block>
    <!-- [마지막] -->
    <a th:href="@{${pageUrl} + '&page=' + ${page.last}}" style="color: aliceblue;">[마지막]</a>
</div>


</div>
<div class="content3"></div>
</div>
   

    <!-- 공통 푸터 추가 -->
    <th:block th:replace="~{fragment/footer::footer}"></th:block>

    <!-- 공통 스크립트 추가 -->
    <th:block th:replace="~{fragment/script::script}"></th:block>
</body>

</html>