<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/info.css">
    <th:block th:replace="~{fragment/link::link}"></th:block>

</head>

<body style="color: rgb(3, 3, 3); background-color: #252222;">
    <!-- 헤더 -->
    <th:block th:replace="~{fragment/header::header}"></th:block>

    <!-- 본문 -->
    <div class="wrapper" style="margin-top: 80px;">
        <main>
            <div class="main-text" style="color: #9FD0D5;">마이페이지</div>
            <div class="button-group">
                <button  class="active" onclick="window.location.href='/user/myPage/info'">내 정보</button>
                <button onclick="window.location.href='/user/myPage/buyList'">이용권 내역</button>
                <button onclick="window.location.href='/user/myPage/ptList'">PT 이용 내역</button>
                <button onclick="window.location.href='/user/myPage/friendList'">친구 목록</button>
            </div>
            <div id="user-info">
                <h2 style="margin-bottom: 10px; font-weight: 800; color: white;">내 정보</h2>
                <table class="info-table">
                    <tr>
                        <th style="color: black;">아이디</th>
                        <td><span th:text="${user.id}"></span></td>
                    </tr>
                    <tr>
                        <th style="color: black;">이름</th>
                        <td><span th:text="${user.name}"></span></td>
                    </tr>
                    <tr>
                        <th style="color: black;">생일</th>
                        <td><span th:text="${user.birth}"></span></td>
                    </tr>
                    <tr>
                        <th style="color: black;">성별</th>
                        <td><span th:text="${user.gender}"></span></td>
                    </tr>
                    <tr>
                        <th style="color: black;">연락처</th>
                        <td><span th:text="${user.phone}"></span></td>
                    </tr>
                    <tr>
                        <th style="color: rgb(0, 0, 0);">이메일</th>
                        <td><span th:text="${user.email}"></span></td>
                    </tr>
                </table>
                <a href="#" class="edit-button" onclick="showEditForm()">정보 수정하기 ></a>
            </div>
            <div id="edit-form" style="display: none;">
                <h2 style="margin-bottom: 10px; font-weight: 800; color: white;">회원정보 수정</h2>
                <table class="info-table">
                    <form action="infoUpdate" method="post" id="form">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" name="no" th:value="${user.no}">
                        <tr>
                            <th style="color: black;">아이디</th>
                            <td><label type="text" th:text="${user.id}" name="id"></label></td>
                        </tr>
                        <tr>
                            <th style="color: black;">이름</th>
                            <td><label type="text" th:text="${user.name}" name="name"></td>
                        </tr>
                        <tr>
                            <th style="color: black;">생일</th>
                            <td><label type="text" th:text="${user.birth}" name="birth"></td>
                        </tr>
                        <tr>
                            <th style="color: black;">성별</th>
                            <td><label type="text" th:text="${user.gender}" name="phone"></td>
                        </tr>
                        <tr>
                            <th style="color: black;">연락처</th>
                            <td><input type="text" th:value="${user.phone}" name="phone"></td>
                        </tr>
                        <tr>
                            <th style="color: black;">이메일</th>
                            <td><input type="text" th:value="${user.email}" name="email"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="#">비밀번호 수정</a>
                                <button type="submit">수정완료</button>
                                <button type="button" onclick="remove()">삭제하기</button>
                            </td>
                        </tr>
                    </form>
                </table>
              
            </div>
        </main>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{fragment/footer::footer}"></th:block>

    <!-- 스크립트 -->
    <th:block th:replace="~{fragment/script::script}"></th:block>
    <script>
        const buttons = document.querySelectorAll('.button-group button');
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            });
        });

        function showEditForm() {
            document.getElementById('user-info').style.display = 'none';
            document.getElementById('edit-form').style.display = 'block';
        }

        function remove() {
            if (!confirm('정말로 삭제하시겠습니까?'))
                return;
            document.getElementById('form').action = 'delete'; // action 속성 변경
            document.getElementById('form').submit(); // 요청 전송
        }
    </script>
</body>

</html>