<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용권 구매</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/css/ticket/choice.css">
    <!-- 프래그먼트 -->
    <!-- <th:block th:replace="~{fragment/link::link}"></th:block> -->
</head>

<th:block th:replace="~{fragment/header::header}"></th:block>

<body>
    
    <div class="container mt-5">
        <div class="title d-flex flex-column justify-content-center align-items-center gap-5">
            <h1>이용권 구매</h1>
            <div class="ticket d-flex">
                <span>보유중인 이용권 : &ensp;</span>
                <span th:text="${#lists.size(buyList) > 0 ? buyList[#lists.size(buyList) - 1].ticketName : '없음'}"></span>
                <span> &ensp;(&ensp; </span>
                <span th:text="${#lists.size(buyList) > 0 ? buyList[#lists.size(buyList) - 1].buyDate : '-'}"></span>
                <span> &ensp;) </span>
            </div>
        </div>

        <div class="button d-flex gap-5 justify-content-center mt-5">
            <a class="normal rounded-4" href="/user/ticket/normal">일반 이용권 구매</a>
            <a class="pt rounded-4" href="/user/ticket/trainerList">PT + 이용권 구매</a>
        </div>
    </div>

</body>
</html>