<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트레이너 목록</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/css/ticket/trainerList.css">
</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="profile">
                <img src="" alt="">
            </div>
            <div>
                <span class="title"></span>
                <span class="info"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center px-3">
                <span class="userNum">함께하는 회원 수 : &ensp;</span>
                <span></span>
                <a class="rounded-3" th:href="@{/user/ticket/trainerDetail/?trainerNo=${profile.trainerNo}}">선택</a>
            </div>
        </div>
    </div>

</body>
</html>