<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트레이너 상세페이지</title>
     <!-- 부트스트랩 -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <!-- css -->
     <link rel="stylesheet" href="/css/ticket/trainerDetail.css">
</head>
<body>
    
    <div style="height: 100px;"></div>

    <div class="container">
        <div class="card">
            <div class="hr">
                <span>프로필 상세</span>
            </div>

            <div class="card-items d-flex flex-column align-items-center justify-content-center">
                <div class="img">
                    <img th:src="|/img?no=${trainer.fileNo}|" alt="파일 이미지" class="card-img-top">
                </div>
                <div class="info">
                    <p th:text="${trainer.detailInfo}"></p>
                </div>
            </div>

            <div class="hr"></div>
            
            <form action="/user/pay/paing" method="POST">
                <div class="ticket d-flex flex-column align-items-center">
                    <div class="item" th:each="ticket : ${ticketList}" >
                        <div class="d-flex align-items-center border-bottom" style="width: 100%; height: 150px;">
                            <div class="checkbox">
                                <input type="checkbox" name="ticket">
                            </div>
                            <div class="ticket-content d-flex flex-column">
                                <input type="hidden" value="ticket.no" name="ticket">
                                <span class="ticket-name" th:text="${ticket.name}"></span>
                                <span class="ticket-info" th:text="${ticket.info}"></span>
                                <span class="ticket-price" th:text="${#numbers.formatInteger(ticket.price, 3, 'COMMA') + '원'}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button">
                    <button type="submit" class="btn btn-success">결제하기</button>
                </div>

            </form>
        </div>
    </div>

</body>
</html>