<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>
<body>
    <h1>게시글 등록</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <table border="1">
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="info" rows="5" cols="40"></textarea>
                </td>
            </tr>
            <tr>
                <td>파일</td>
                <td>
                    <input type="file" name="fileList" multiple>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="등록">
                </td>
            </tr>
        </table>

    </form>
</body>
</html>