<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트레이너 등록</title>
</head>
<body>
    <h1>트레이너 등록</h1>
    <form action="/admin/trainer/insert" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <table border="1">
            <tr>
                <th>트레이너 userNo</th>
                <td>
                    <input type="number" name="trainerNo">
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <th>간소</th>
                <td>
                    <input type="text" name="simpleInfo">
                </td>
            </tr>
            <tr>
                <th>상세</th>
                <td>
                    <textarea name="detailInfo" rows="5" cols="40"></textarea>
                </td>
            </tr>
           
            <tr>
                <td>파일</td>
                <td>
                    <input type="file" name="fileList" multiple>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="등록">
                </td>
            </tr>
        </table>

    </form>
</body>
</html>