<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="/css/user/userUpdate.css">
    <style>
     

    </style>
</head>

<body>
<!-- 관리자헤더 프라그먼트 -->
<th:block th:replace="~{fragment/adminHeader::adminHeader}"></th:block>
<!-- 관리자페이지 메인콘텐츠 영역 틀 예시 -->
<div class="container">
    <!-- 전체 컨테이너 영역 속 사이드바, 메인콘텐츠 영역 display flex 로 가로 배치 -->
    <th:block th:replace="~{fragment/adminSidebar::adminSidebar}"></th:block>


    <div class="main">
        <div class="inner" style=" text-align: center; height: 700px;" >
            <div class="title" style="margin-bottom: 20px;" >
                <h2>회원정보 수정</h2>
            </div>

            <div class="container-form">
                <div style="">
              <form action="update" method="post" id="form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="no" th:value="${user.no}">
                <table style="border-collapse: collapse; border-bottom: 20px;">
                    <tr >
                        <th >아이디(ID) :</th>
                        <td style="width: 300px;" th:text="${user.id}"> 
                        </td>
                    </tr>
                    <tr>
                        <th>생년월일 :</th>
                        <td style="width: 300px;" th:text="${user.birth}"> 
                        </td>
                    </tr>
                    <tr>
                        <th>이름 :</th>
                        <td style="width: 300px;"> <input type="text" name="name" th:value="${user.name}" id="name">
                        </td>
                    </tr>
                    <tr>
                        <th>이메일 :</th>
             
                          <td style="width: 300px;"> 
                            <input type="text"th:value="${user.email}"  name="email">
                        </td>
        
                    </tr>
                    <tr>
                        <th>연락처 :</th>
                        <td style="width: 300px;"> 
                            <input type="text" th:value="${user.phone}" name="phone" pattern="\d{11}" ></input>
                        </td>
                    </tr>
                    <tr>
                        <th>회원분류 :</th>
                        <td style="width: 300px;"> 
                            <select name="auth">
                                <option value="ROLE_USER" th:selected="${userAuth.auth == 'ROLE_USER'}">회원</option>
                                <option value="ROLE_TRAINER" th:selected="${userAuth.auth == 'ROLE_TRAINER'}">트레이너</option>
                            </select>
                        </td>
                    </tr>
                   
                 
                    
                </table>
            <div class="btn-box">
                <button type="submit"> 수정하기 </button>
                <button type="button" style="background-color: rgb(238, 120, 120);" onclick="remove()"> 삭제하기 </button>
            </div>
        </form>
             </div>
         </div>
      </div>
    </div>
</div>




        <script>
            function remove() {
                if (!confirm('정말로 삭제하시겠습니까?'))
                    return
                form.action = 'delete' // action 속성 변경
                form.submit() // 요청 전송

            }

    </script>

</body>

</html>