<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>

<body class="fullBody" >
    <th:block th:replace="~{fragment/header::header}"></th:block>
        
       <div class="top-space"></div>
    <h1>게시글 등록</h1>
    <form action="insert" method="post" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <table border="1">
            <tr>
            <th>제목</th>
            <h3>아이디 : <span sec:authentication="name"></span>
            </h3>
            <td>
                <input type="text" name="title" id="">
            </td>
        </tr>
    
        <tr>
            <td colspan="2">
                <textarea name="content" rows="5" cols="40" id=""></textarea>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">

                <input type="submit" value="등록">
            </td>
        </tr>
        </table>
</form>

<button type="button" onclick="location.href='user/board/boardList'"> 목록 </button>
</div>
<th:block th:replace="~{fragment/footer::footer}"></th:block>
<th:block th:replace="~{fragment/script::script}"></th:block>
</body>
</html>