<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="/css/board/boardInsert.css">
</head>

<body class="fullBody">
    <th:block th:replace="~{fragment/header::header}"></th:block>
        
    <div class="top-space"></div>
    <div class="container" >
        <form action="update" method="post" id="form">
            <input type="hidden" name="no" th:value="${board.no}" id="no">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">


            <h1>고객문의 게시판</h1>
           
            <div class="border" style="margin-top: 40px;" >
                <div class="inputbox1" >
                    <label for="" style=" color: black; font-size: 30px; ">Q. </label>
                    <input type="text" class="titleinput" name="title" th:value="${board.title}" placeholder="문의사항을 알려주세요." required>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <textarea class="textareaInput" name="content" th:text="${board.content}" rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="btn-box" style="margin-top: 10px;" >
                <button type="button" class="btnInput" onclick="location.href='boardList'"> 목록 </button>
                <input type="submit" style="background-color: rgb(172, 235, 77);" class="btnInput" value="수정">
                <button type="button" onclick="remove()" style="background-color: rgb(238, 106, 83);" class="btnInput"> 삭제 </button>
            </div>
        </form>
    </div>

  

<script>

    function remove(){
            if(!confirm('정말로 삭제하시겠습니까?'))
            return
            form.action = 'delete'   // action 속성 변경
            form.submit()                   // 요청 전송
        }
        
</script>

    <th:block th:replace="~{fragment/footer::footer}"></th:block>
    <th:block th:replace="~{fragment/script::script}"></th:block>
</body>
</html>


