<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예약</title>
  <link rel="stylesheet" href="/css/reservation/userRVstyle.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="/js/userRVscript.js"></script>
</head>
<body>
  <th:block th:replace="~{fragment/header::header}"></th:block>
  <div class="reservation-container">
    <div class="hr">
      <span>PT 예약</span>
    </div>
    <div class="trainer-info">
      <div class="info-container">
        <img src="/img/sample.jpg" alt="샘플">
        <h1>마룬5 트레이너</h1> 
      </div>
    </div>
  
    <div id="calendar"></div>
  
    <!-- 예약 모달 -->
    <div id="timeSelectionModal">
      <div class="modal-container">
        <div class="modal-info">
          <h3>예약 시간 선택</h3>
          <p id="selectedDate"></p>
        </div>
        <div id="timeButtons"></div>
        <button onclick="closeModal()">Close</button>
  
        <form id="reservationForm" action="/user/reservation/reservation" method="POST">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <input type="hidden" id="rvDateInput" name="rvDate">     <!-- 예약 날짜 -->
          <input type="hidden" name="trainerNo" value="1">       
          <!-- <input type="hidden" name="userNo" value="1"> -->
          <input type="submit" style="display: none;" />
        </form>
      </div>
    </div>
  </div>

  <th:block th:replace="~{fragment/footer::footer}"></th:block>
</body>
</html>
