<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예약</title>
  <link rel="stylesheet" href="/css/RVstyle.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="/js/RVscript.js"></script>
</head>
<body>

  <div class="trainer-info">
    <div class="info-container">
      <img src="/img/sample.jpg" alt="샘플">
      <h1>마룬5 트레이너</h1>
    </div>
  </div>

  <div id="calendar"></div>

  <!-- 예약 모달 -->
  <div id="timeSelectionModal">
    <div class="modal-container">
      <h3>예약 시간 선택</h3>
      <p id="selectedDate"></p>
      <div id="timeButtons"></div>
      <button onclick="closeModal()">Close</button>

      <!-- form은 모달 내부로 이동 -->
      <form id="reservationForm" action="/gym/trainerReservation" method="POST">
        <input type="hidden" id="rvDateInput" name="rvDate"> <!-- 예약 날짜 -->
        <input type="hidden" name="trainerNo" value="1"> <!-- 트레이너 번호 -->
        <input type="hidden" name="userNo" value="1"> <!-- 사용자 번호 -->
        <input type="submit" style="display: none;" />
      </form>
    </div>
  </div>

  <div id="modalOverlay"></div>

</body>
</html>
