<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h1> 비밀번호 찾기</h1>
     <form action="changePassword" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <span>이름 : </span><input type="text" name="name" id="">
    <span>아이디 : </span><input type="text" name="id" id="">
    <span>전화번호 :  </span><input type="text" name="phone" id="">
    <h5> 질문 : </h5>
    <select name="question" id="">
      <option  name="question" value="강아지 이름은?" id="">강아지 이름은?</option>
    </select>
    <h5>답변 : </h5> <input type="text" name="answer" >
    <button type="submit" >찾기</button>
</form>
</body>
</html>