<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일정계획표</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <th:block th:replace="~{fragment/link::link}"></th:block>
  <link rel="stylesheet" href="/css/planStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="/js/planScript.js"></script>
</head>

<body style="overflow-x: hidden; padding-top: 80px;">
  <th:block th:replace="~{fragment/header::header}"></th:block>
  <div>
    <div class="row d-flex flex-nowrap px-3">
      <div class="card first-con px-3 py-4">
        <p class="text-center fw-semibold m-0" style="font-size: 32px;">운동 계획표</p>
        <hr>
        <div class="d-flex justify-content-end">
          <button type="button" class="p-3 border rounded-4 bg-white upd-schedule"><i class="fa-solid fa-plus"></i> 일정
            추가</button>
        </div>
        <div class="cal-container">
          <div class="calendar">
            <div class="month">
              <a class="nav prev"><i class="fas fa-angle-left"></i></a>
              <div><span class="current-month"></span> <span class="year"></span></div>
              <a class="nav next"><i class="fas fa-angle-right"></i></a>
            </div>
            <div class="days">
              <span>Mon</span>
              <span>Tue</span>
              <span>Wed</span>
              <span>Thu</span>
              <span>Fri</span>
              <span>Sat</span>
              <span>Sun</span>
            </div>
            <div class="dates"></div>
          </div>
        </div>
        <div class="comment-container pt-4">
          <div class="comment">
            <div class="comment-title">
              <p>trainer’s comment</p>
            </div>
            <div class="comment-content">
              <p class="comment-date"><span th:text="${#dates.format(comment.commentDate, 'MM/dd(EEE)')}"></span></p>
              <p class="comment-c">
                <span class="cContent" th:text="${comment.cContent}"></span><br>
                <span class="fContent" th:text="${comment.fContent}"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-grow-1 flex-shrink-1">
        <div class="container flex-grow-1 flex-shrink-1 border-0">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="~{fragment/footer::footer}"></th:block>

  <!-- 일정 입력 팝업 -->
  <div class="pop-up input-schedule">
    <div class="popup-type">
      <div class="icons">
        <a class="input-schedule-close"><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
    <div class="popup-content">
      <form action="">
        <div class="popup-title-input">
          <input type="text" name="planName" placeholder="일정 제목 추가">
        </div>
        <div class="set-time">
          <p><i class="fa-regular fa-clock"></i></p>
          <div class="set-time-date">
            <span th:text="${#dates.format(comment.commentDate, 'MM/dd(EEE)')}"></span>
          </div>
          <div class="set-time-drops">
            <div class="dropdown">
              <button id="dropdown-button-1">시작 시간</button>
              <div class="options" id="options-1">
                <div value="pm600">오전 6:00</div>
                <div value="pm600">오전 6:15</div>
                <div value="pm630">오전 6:30</div>
                <div value="pm645">오전 6:45</div>
                <div value="pm700">오전 7:00</div>
                <div value="pm715">오전 7:15</div>
                <div value="pm730">오전 7:30</div>
                <div value="pm745">오전 7:45</div>
                <div value="pm800">오전 8:00</div>
                <div value="pm815">오전 8:15</div>
                <div value="pm830">오전 8:30</div>
                <div value="pm845">오전 8:45</div>
              </div>
            </div>
            <span>-</span>
            <div class="dropdown">
              <button id="dropdown-button-2">종료 시간</button>
              <div class="options" id="options-2">
                <div value="pm600">오전 6:00</div>
                <div value="pm600">오전 6:15</div>
                <div value="pm630">오전 6:30</div>
                <div value="pm645">오전 6:45</div>
                <div value="pm700">오전 7:00</div>
                <div value="pm715">오전 7:15</div>
                <div value="pm730">오전 7:30</div>
                <div value="pm745">오전 7:45</div>
                <div value="pm800">오전 8:00</div>
                <div value="pm815">오전 8:15</div>
                <div value="pm830">오전 8:30</div>
                <div value="pm845">오전 8:45</div>
              </div>
            </div>

          </div>
        </div>

        <textarea name="planContent" placeholder="내용 입력"></textarea>

        <div class="button-container">
          <button type="submit" id="updPlanButton">저장</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 일정 정보 팝업(자율) -->
  <div class="pop-up exercise-bymyself">
    <div class="popup-type">
      <p>자율 운동</p>
      <div class="icons">
        <a href="#"><i class="fa-solid fa-pen"></i></a>
        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
        <a><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
    <div class="popup-content">
      <div class="popup-title">유산소 운동</div>
      <div class="time-info">
        <p><i class="fa-regular fa-clock"></i></p>
        <div class="plan-date">
          12/4 (수)
        </div>
        <div class="plan-time">
          <p class="plan-start-time">오후 1:00</p>
          <p>-</p>
          <p class="plan-end-time">오후 2:00</p>
        </div>
      </div>
      <hr>
      <div class="plan-detail">
        - 러닝머신 1시간<br>
      </div>
    </div>
  </div>

  <!-- 일정 정보 팝업(PT 예약) -->
  <div class="pop-up exercise-pt">
    <div class="popup-type">
      <p>PT 예약</p>
      <div class="icons">
        <a><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
    <div class="popup-content">
      <div class="popup-title">유산소 운동</div>
      <div class="time-info">
        <p><i class="fa-regular fa-clock"></i></p>
        <div class="plan-date">
          12/4 (수)
        </div>
        <div class="plan-time">
          <p class="plan-start-time">오후 1:00</p>
          <p>-</p>
          <p class="plan-end-time">오후 2:00</p>
        </div>
      </div>
      <div class="trainer-info">
        <p><i class="fa-solid fa-user"></i></p>
        <p class="trainer-name">김트너</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>