<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일정계획표</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <th:block th:replace="~{fragment/link::link}"></th:block>
  <link rel="stylesheet" href="/css/planStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="/js/planScript.js"></script>
</head>
<body style="overflow-x: hidden; padding-top: 80px;">
  <th:block th:replace="~{fragment/header::header}"></th:block>
  <div>
    <div class="row d-flex flex-nowrap px-3">
      <div class="card first-con px-3 py-4">
        <p class="text-center fw-semibold m-0" style="font-size: 32px;">운동 계획표</p>
        <hr>
        <input type="hidden" id="userAuth" th:value="${userAuthAuth}">
        <div sec:authorize="hasRole('ROLE_USER')">
          <div class="d-flex justify-content-end">
            <button type="button" class="p-3 border rounded-4 bg-white upd-schedule"><i class="fa-solid fa-plus"></i> 일정
              추가</button>
          </div>
        </div>
        <div sec:authorize="hasRole('ROLE_TRAINER')">
          <div class="d-flex justify-content-end">
            <button type="button" class="p-3 border rounded-4 bg-white upd-schedule" style="display: none;"><i class="fa-solid fa-plus"></i> 일정
              추가</button>
          </div>
        </div>
        <div class="cal-container">
          <div class="calendar">
            <div class="month">
              <a class="nav prev"><i class="fas fa-angle-left"></i></a>
              <div><span class="current-month"></span> <span class="year"></span></div>
              <a class="nav next"><i class="fas fa-angle-right"></i></a>
            </div>
            <div class="days">
              <span>Mon</span>
              <span>Tue</span>
              <span>Wed</span>
              <span>Thu</span>
              <span>Fri</span>
              <span>Sat</span>
              <span>Sun</span>
            </div>
            <div class="dates"></div>
          </div>
        </div>
        <div class="comment-container pt-4">
          <form action="/user/schedule/comment/update" method="post" id="updateCommentForm">
            <div class="comment">
              <div class="comment-title">
                <p>trainer’s comment</p>
              </div>
              <div class="comment-content">
                  <p class="comment-date"><span th:text="${#dates.format(comment.commentDate, 'MM/dd(EEE)')}" ></span></p>
                  <input type="hidden" th:value="${#dates.format(comment.commentDate, 'yyyy-MM-dd')}" name="commentDate" id="commentDate">
                <div class="comment-c comment-detail">
                  <span><b>코멘트</b></span><br>
                  <span class="cContent" th:text="${comment.cContent}"></span><br><br>
                  <span><b>식단</b></span><br>
                  <span class="fContent" th:text="${comment.fContent}"></span>
                </div>
                <div class="comment-c comment-edit" style="display:none;">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <input type="hidden" th:value="${comment.no}" name="no" id="commentNo">
                  <input type="hidden" th:value="${comment.userNo}" name="userNo" id="userNo">
                  <span><b>코멘트</b></span><br>
                  <textarea class="cContent" th:text="${comment.cContent}" name="cContent"></textarea><br>
                  <span><b>추천 식단</b></span><br>
                  <textarea class="fContent" th:text="${comment.fContent}" name="fContent"></textarea>
                </div>
              </div>
            </div> <!-- comment 끝 -->
            <div class="comment-btn-container button-container pt-2">
              <button type="button" id="editCommentButton">comment 입력</button>
              <div class="comment-edit" style="display: none;">
                <button type="button" id="cancelEditComment">취소</button>
                <button type="submit" id="updateCommentButton">수정</button>
                <button type="button" id="insertCommentButton" onclick="insertComment()">저장</button>
              </div>
            </div>   
            <!-- comment-btn-container 끝 -->
          </form>
        </div>
        <!-- comment-container 끝 -->
      </div>
      <div class="card flex-grow-1 flex-shrink-1">
        <div class="container flex-grow-1 flex-shrink-1 border-0">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="~{fragment/footer::footer}"></th:block>
  <!-- 일정 입력 팝업 -->
  <div class="pop-up input-schedule">
    <div class="popup-type">
      <div class="icons">
        <a class="input-schedule-close"><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
    <div class="popup-content">
      <form action="/user/schedule/insert" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="popup-title-input">
          <input type="text" name="planName" placeholder="일정 제목 추가">
        </div>
        <div class="set-time">
          <p><i class="fa-regular fa-clock"></i></p>
          <div class="set-time-date">
            <span th:text="${#dates.format(comment.commentDate, 'MM/dd(EEE)')}"></span>
          </div>
          <div class="set-time-drops">
            <div class="dropdown">
              <button type="button" id="dropdown-button-start">시작 시간</button>
              <div class="options" id="options-start">
                <div th:each="time, iterStat : ${times24Hour}"
                   th:text="${times12Hour[iterStat.index]}"
                   th:value="${time}" 
                   onClick="setTime('start', this)">
                </div>
              </div>
            </div>
            <span>-</span>
            <div class="dropdown">
              <button type="button" id="dropdown-button-end">종료 시간</button>
              <div class="options" id="options-end">
                <div th:each="time, iterStat : ${times24Hour}"
                  th:text="${times12Hour[iterStat.index]}"
                  th:value="${time}" 
                  onClick="setTime('end', this)">
                </div>
              </div>
            </div>
          </div>
        </div>
        <textarea name="planContent" placeholder="내용 입력"></textarea>
        <input type="hidden" name="planTime" id="planTime">
        <input type="hidden" name="planEnd" id="planEnd">
        <div class="button-container">
          <button type="submit" id="updPlanButton">저장</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 일정 정보 팝업(자율) -->
  <div class="pop-up exercise-bymyself">
    <form id="deleteForm" action="/user/schedule/delete" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="hidden" name="no" id="eventIdInput" class="hiddenNo" />
      <div class="popup-type">
        <p>자율 운동</p>
        <div class="icons">
          <a onclick="editPlan(this)" id="editIcon"><i class="fa-solid fa-pen"></i></a>
          <a onclick="deletePlan(this)" data-event-id="" id="deleteIcon"><i class="fa-solid fa-trash-can"></i></a>
          <a class="exercise-bymyself-close"><i class="fa-solid fa-x"></i></a>
        </div>
      </div>
    </form>
    <div class="popup-content edit-before" >
      <div class="popup-title">유산소 운동</div>
      <div class="time-info">
        <p><i class="fa-regular fa-clock"></i></p>
        <div class="plan-date">
          
        </div>
        <div class="plan-time">
          <p class="plan-start-time"></p>
          <p>-</p>
          <p class="plan-end-time"></p>
        </div>
      </div>
      <hr>
      <div class="plan-detail"><br>
      </div>
    </div>
    <div class="popup-edit" style="display: none;">
      <form action="/user/schedule/update" method="post" id="updateForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="no" class="hiddenNo" />
        <div class="popup-title-input">
          <input type="text" name="planName">
        </div>
        <div class="set-time">
          <p><i class="fa-regular fa-clock"></i></p>
          <div class="plan-date">
            
          </div>
          <div class="set-time-drops">
            <div class="dropdown">
              <button type="button" id="dropdown-edit-start">시작 시간</button>
              <div class="options" id="options-edit-start">
                <div th:each="time, iterStat : ${times24Hour}"
                   th:text="${times12Hour[iterStat.index]}"
                   th:value="${time}" 
                   onClick="setTime('startEdit', this)">
                </div>
              </div>
            </div>
            <span>-</span>
            <div class="dropdown">
              <button type="button" id="dropdown-edit-end">종료 시간</button>
              <div class="options" id="options-edit-end">
                <div th:each="time, iterStat : ${times24Hour}"
                   th:text="${times12Hour[iterStat.index]}"
                   th:value="${time}" 
                   onClick="setTime('endEdit', this)">
                </div>
              </div>
            </div>
          </div>
        </div>
        <textarea name="planContent" placeholder="내용 입력"></textarea>
        <input type="hidden" name="planTime" id="planTimeEdit">
        <input type="hidden" name="planEnd" id="planEndEdit">
        <div class="button-container">
          <button type="button" id="cancelButton" onclick="editCancel()">취소</button>
          <button type="submit" id="updateButton">수정</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 일정 정보 팝업(PT 예약) -->
  <div class="pop-up exercise-pt">
    <div class="popup-type">
      <p>PT 예약</p>
      <div class="icons">
        <a class="exercise-pt-close"><i class="fa-solid fa-x"></i></a>
      </div>
    </div>
    <div class="popup-content">
      <div class="popup-title">유산소 운동</div>
      <div class="time-info">
        <p><i class="fa-regular fa-clock"></i></p>
        <div class="plan-date">
          12/4 (수)
        </div>
        <div class="plan-time">
          <p class="plan-start-time"></p>
          <p>-</p>
          <p class="plan-end-time"></p>
        </div>
      </div>
      <div class="trainer-info">
        <p><i class="fa-solid fa-user"></i></p>
        <p class="trainer-name"></p>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    var planEvents = /*[[${planEvents}]]*/ [];
    console.log(planEvents);
    var reservationEvents = /*[[${reservationEvents}]]*/ [];
    console.log("reservationEvents:" + reservationEvents);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>