<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.gym.gym.mapper.AttendanceMapper">




<!-- 값을 조회하는 부분은 resultType필요! -->
<!-- 별칭 Attendance로 통일 -->
    

<!-- 출석 내역 조회 -->
<select id="list" resultType="Attendance">
    SELECT *
    FROM attendance
</select>



<!-- 출석 등록-->






<!-- 유저 검색 -->







<!-- 출석 랭킹 -->





