<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.gym.gym.mapper.ReservationMapper">

    <!-- 예약 등록 -->
    <insert id="insert">
      insert into reservation (user_no, trainer_no, rv_date)
      values (#{userNo}, #{trainerNo}, #{rvDate})
    </insert>

    <!-- 예약 목록 -->
    <select id="list" resultType="Reservation">
      select r.*, u.name as userName, u.id as userId, tu.name as trainerName
      from reservation r
      left join users u on r.user_no = u.no
      left join users tu on r.trainer_no = tu.no
      where
          <if test="option.code == 0">
                (r.user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR r.trainer_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR r.rv_date LIKE CONCAT('%', #{option.keyword}, '%')
                OR tu.name LIKE CONCAT('%', #{option.keyword}, '%'))  
          </if>
          <if test="option.code == 1">
                r.user_no LIKE CONCAT('%', #{option.keyword}, '%')
          </if>
          <if test="option.code == 2">
                r.trainer_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR tu.name LIKE CONCAT('%', #{option.keyword}, '%')  
          </if>
          <if test="option.code == 3">
                r.user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR r.rv_date LIKE CONCAT('%', #{option.keyword}, '%')
          </if>
          <if test="option.code == 4">
                r.trainer_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR tu.name LIKE CONCAT('%', #{option.keyword}, '%') 
          </if>
      <if test="option.orderCode == 0">
        ORDER BY r.created_at DESC
      </if>
      <if test="option.orderCode == 1">
        ORDER BY r.rv_date ASC
      </if>
      LIMIT #{page.index}, #{page.rows}
    </select>



    <!-- 예약 상세 조회 -->
    <select id="read" resultType="Reservation">
      select *
      from reservation
      where no = #{no}
    </select>

    <!-- 예약 취소(수정) -->
    <update id="cancel">
      update reservation
      set enabled = 0,
          canceled_at = now()
      where no = #{no} and enabled = 1;
    </update>

    <select id="count" resultType="int">
      select count(*)
      from reservation
      WHERE
        <if test="option.code == 0">
                    user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR trainer_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR rv_date LIKE CONCAT('%', #{option.keyword}, '%')
           </if>
            <if test="option.code == 1">
                user_no LIKE CONCAT('%', #{option.keyword}, '%')
           </if>
            <if test="option.code == 2">
                rv_date LIKE CONCAT('%', #{option.keyword}, '%')
           </if>
            <if test="option.code == 3">
                    user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR rv_date LIKE CONCAT('%', #{option.keyword}, '%')
           </if>
            <if test="option.code == 4">
                trainer_no LIKE CONCAT('%', #{option.keyword}, '%')
           </if>
    </select>
</mapper>