<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.gym.gym.mapper.TrainerProfileMapper">

    <!-- 목록 -->
    <select id="list" resultType="trainerProfile">
        SELECT *
        FROM trainer_profile
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <!-- 조회 -->
    <select id="select" resultType="trainerProfile" >
        SELECT *
        FROM trainer_profile
        WHERE no = #{no}
    </select>

    <!-- 등록 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO trainer_profile ( trainer_no, name, info )
        VALUES ( #{trainerNo}, #{name}, #{info} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE trainer_profile 
           SET name = #{name}
              ,info = #{info}
              ,updated_at = now()
        WHERE no = #{no}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM trainer_profile
        WHERE no = #{no}
    </delete>
		

</mapper>