<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
    <style>
        body {
    background-color: #252222;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a{
    color: inherit; /* 기존의 색상을 유지 */
    text-decoration: none; /* 링크에 밑줄을 없앱니다. */
}

a:hover{
    filter: brightness(90%);
 font-weight: bold;   
 text-decoration: underline; 
}

    </style>
</head>
<body>
    <h1 style="font-size: 100px;">403 ERROR.</h1>
    <h5 style="font-size: 30px; width: 100%;">권한이 없는 페이지입니다.</h5>
    <p>메인에서 다시 </p>
    <a style="padding: 10px 30px; font-weight: bold; background-color: white; border-radius: 8px; color: black;" href="/">메인페이지</a>
    
</body>
</html>