<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <div class="mobile_btn">
        <input type="checkbox" id="hamburger" />
        <label for="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <h2 style="text-align: center; position: relative; top: 75px;"><a href="#">로고</a></h2>
            <hr style="position: relative; top:100px; border: solid 1px black;">
            <ul class="nav_mobile">
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴4</a></li>
            </ul>
        </div>
    </div>
</body>

</html>