<th:block th:fragment="footer">

    <footer>
        <div class="footer">
            <div class="footer1">
                <div class="footer1-1"><a href="">Home</a></div>
                <div class="footer1-2"><a href="">Notice</a></div>
                <div class="footer1-3"><a href="">Q&A</a></div>
                <div class="footer1-4"><a href="">About</a></div>
            </div>
            <div class="footer2">

                <div class="footer2-1"></div>

            </div>
            <div class="footer3">
                © 2024 Company, Inc
            </div>


        </div>
    </footer>
</th:block>