<th:block th:fragment="footer">
    <footer>
        <div class="footer">
            <div class="list">
                <div class="item">
                    <div class="link">
                        <div class="text-wrapper">Home</div>
                    </div>
                </div>
                <div class="item">
                    <div class="link">
                        <div class="div">Notice</div>
                    </div>
                </div>
                <div class="item">
                    <div class="link">
                        <div class="div">Q&amp;A</div>
                    </div>
                </div>
                <div class="item">
                    <div class="link">
                        <div class="text-wrapper-2">About</div>
                    </div>
                </div>
            </div>
            <div class="text-wrapper-3">© 2024 Company, Inc</div>
        </div>
    </footer>
</th:block>
