<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>월별 예약 일정관리</title>
  <link rel="stylesheet" href="/css/reservation/adminCalendar.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="/js/adminRVscript.js"></script>

  <script th:inline="javascript">
    console.log("reservationEvents : " + reservationEvents)
    var reservationEvents = /*[[${reservationEvents}]]*/ []; 
  </script>
</head>

<body>
  <th:block th:replace="~{fragment/adminHeader::adminHeader}"></th:block>
  <div class="container">
    <th:block th:replace="~{fragment/adminSidebar::adminSidebar}"></th:block>

    <div class="main">
      <div class="inner">

        <div class="calendar-title">
          <h2>월별 PT 예약 일정</h2>
        </div>

        <!-- 트레이너 선택 -->
        <form class="filter" action="/admin/reservation/calendar" method="get" id="form">
          <div class="trainerSelect">
            <select id="trainerList" name="keyword" th:value="${option.keyword}" onchange="this.form.submit()">
              <option value="" th:selected="${option.keyword == null or option.keyword == ''}">전체</option>
              <option th:each="trainerList : ${trainerUsers}" th:value="${trainerList.no}" th:text="${trainerList.name}"
                th:selected="${option.keyword == trainerList.no.toString()}"></option>
            </select>
          </div>
        </form>


        <div class="calendar-wrap">
          <div id="calendar"></div>

        </div>
        <div id="timeSelectionModal">

          <div class="modal-container">

            <div class="modal-info">
              <h3 id="selectedDate"></h3>
              <h4>예약 리스트</h4>
            </div>

            <div class="daily-reservationList">

                <!-- <p th:each="count : ${countByDate}">
                  <span th:text="${count.count} + ' 개'"></span>
                </p> -->
                  <a th:each="reservation : ${sortByTrainer}" th:href="@{/user/schedule/plan}">
                  <span th:text="${reservation.userName} + ' 회원님'"></span>
                  <span th:text="${#dates.format(reservation.rvDate, 'HH:mm')}"></span>
                </a>

            </div>
            <button onclick="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>