<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>월별 예약 일정관리</title>
    <link rel="stylesheet" href="/css/reservation/adminCalendar.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="/js/RVscript.js"></script>
</head>
<body>
    <th:block th:replace="~{fragment/adminHeader::adminHeader}"></th:block>
    <div class="container">
        <th:block th:replace="~{fragment/adminSidebar::adminSidebar}"></th:block>

        <div class="main">
            <div class="inner">
                <div class="title">
                    <h2>월별 PT 예약 일정</h2>
                </div>

                <div class="calendar-wrap">
                    <div id="calendar"></div>
                </div>
                <div id="timeSelectionModal">
                    <div class="modal-container">
                      <div class="modal-info">
                        <h3>예약 시간 선택</h3>
                        <p id="selectedDate"></p>
                      </div>
                      <div id="timeButtons"></div>
                      <button onclick="closeModal()">Close</button>
                
                      <form id="reservationForm" action="/user/reservation/reservation" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" id="rvDateInput" name="rvDate">     <!-- 예약 날짜 -->
                        <input type="hidden" name="trainerNo" value="2">       
                        <!-- <input type="hidden" name="userNo" value="1"> -->
                        <input type="submit" style="display: none;" />
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>