<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 목록 관리</title>
    <link rel="stylesheet" href="/css/reservation/adminRVstyle.css">
</head>

<body>
    <div class="container">

        <th:block th:replace="~{fragment/adminSidebar::adminSidebar}"></th:block>

        <div class="main">
            <div class="inner">
                <div class="title">
                    <h2>PT 예약 목록</h2>
                </div>
                <div class="search-container">
                    <form class="search" action="/admin/reservation/list" method="get" id="form">
                        <!-- <select name="code">
                            <option value="0" th:selected="${option.code == 0}">전체</option>
                            <option value="1" th:selected="${option.code == 1}">제목</option>
                            <option value="2" th:selected="${option.code == 2}">내용</option>
                            <option value="3" th:selected="${option.code == 3}">제목+내용</option>
                            <option value="4" th:selected="${option.code == 4}">작성자</option>
                        </select> -->
                        <div class="left-align">
                            <select name="orderCode" id="order-code">
                                <option value="0" th:selected="${option.orderCode == 0}">최신등록순</option>
                                <option value="1" th:selected="${option.orderCode == 1}">예약순</option>
                            </select>
                        </div>
                        <input type="text" name="keyword" placeholder="검색어를 입력해주세요" th:value="${param.keyword}"/>
                        <button type="submit">검색</button>
                    </form>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>회원명(ID)</th>
                                <th>트레이너</th>
                                <th>예약 시간</th>
                                <th>신청 일시</th>
                                <th>취소 일시</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="reservation : ${reservationList}">
                                <td th:text="${reservation.no}"></td>
                                <td th:text="${reservation.userNo}"></td>
                                <td th:text="${reservation.trainerNo}"></td>
                                <td th:text="${#dates.format( reservation.rvDate, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${#dates.format( reservation.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${#dates.format( reservation.canceledAt, 'yyyy-MM-dd HH:mm:ss')}"></td>

                                <td>
                                    <span th:if="${reservation.enabled == 1}">
                                        <form th:action="@{/admin/reservation/list}" method="post"
                                            onsubmit="return cancelConfirm();">
                                            <input type="hidden" th:name="no" th:value="${reservation.no}">
                                            <button type="submit" style="cursor: pointer;" class="complete">
                                                완료
                                            </button>
                                        </form>
                                    </span>
                                    <span th:if="${reservation.enabled == 0}" class="cancel-text">취소</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <a th:href="@{/admin/reservation/list(page=${page.first})}" class="first">≪</a>
                    <th:block th:if="${page.page != page.first}">
                        <a th:href="@{/admin/reservation/list(page=${page.prev})}" class="prev">＜</a>
                    </th:block>
                    <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
                        <th:block th:if="${page.page == no}">
                            <a class="active" th:href="@{/admin/reservation/list(page=${no})}" th:text="${no}"></a>
                        </th:block>
                        <th:block th:if="${page.page != no}"> 
                            <a th:href="@{/admin/reservation/list(page=${no})}" th:text="${no}"></a>
                        </th:block>
                    </th:block>
                    <th:block th:if="${page.page != page.last}">
                        <a th:href="@{/admin/reservation/list(page=${page.next})}" class="next">＞</a>
                    </th:block>
                    <a th:href="@{/admin/reservation/list(page=${page.last})}" class="first">≫</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function cancelConfirm() {
            return confirm("예약을 취소하시겠습니까?");
        }

        document.addEventListener("DOMContentLoaded", function() {
            const $rows = document.getElementById('rows')
            const $form = document.getElementById('form')
            const $orderCode = document.getElementById('order-code')
            
            // 필터 - 개수 변경 시
            $rows.addEventListener('change', function() {
                $form.submit()
            })
            
            // 필터 - 순서 변경 시
            $orderCode.addEventListener('change', function() {
                $form.submit()
            })
        })
    </script>
</body>

</html>